<header class="max-w-5xl m-auto flex justify-center items-center flex-col text-white z-10">
    <h1 class="font-semibold text-4xl pt-10 pb-4 text-amber-500">Tailwind CSS animations</h1>
    <h2 class="font-medium opacity-70">The plugin you needed!</h2>
    <div class="">
      <code>npm install @adrian_rocafull/tailwindcss-animations</code>
    </div>
</header>