---
interface IExperienceItem {
    date: string;
    title: string;
    location: string;
    description: string;
}
const { date, title,description, location } = Astro.props;
---

<article class="mb-10 ms-4">
    <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >{date}</time
    >
    <div class="sm:flex md:justify-start sm:items-center gap-3">
        <h3 class="sm:text-lg font-semibold text-white-900 dark:text-white">
            {title}
        </h3>
        <span class="hidden md:block"> - </span>
        <h3 class="text-lg font-semibold text-yellow-400/80">
            {location}
        </h3>
    </div>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 text-pretty">
       {description}
    </p>
    <slot/>
</article>
