---

---

<header class="flex justify-center items-center py-6 w-full xl:w-[740px]">
    <nav class="flex w-full justify-between align-items-center gap-11 opacity-80 text-xl">
        <a href="#top">Home</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#about-me">About</a>
        <a href="#contact">Contact</a>
    </nav>
</header>