---

---

<header
  class="flex justify-center items-center h-[70px] p-3 w-full xl:w-[810px]
    sticky top-0 left-0 z-[99999] bg-[#1818224d] text-[#e5ebf3]
    rounded-b-xl border-b border-[#ffffff60]
    transition-all duration-300"
>
  <nav
    class="flex w-full justify-between align-items-center gap-11 opacity-80 text-xl"
  >
    <a href="#home" aria-label="home">Home</a>
    <a href="#experience" aria-label="experience">Experience</a>
    <a href="#mainProjects" aria-label="mainProjects">Main projects</a>
    <a href="#smallProjects" aria-label="smallProjects">Small projects</a>
    <a href="#about-me" aria-label="about-me">About</a>
    <a href="#contact" aria-label="contact">Contact</a>
  </nav>
</header>

<script>

  document.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");
    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-yellow-500");
            } else {
              item.classList.remove("text-yellow-500");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.6,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>
<style>
  header {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-[#181822f1] ring-white/10;
    }
  }
</style>
