---
import Badge from "./Badge.astro";
---
<section class="w-full lg:w-[740px] mx-auto py-28 flex gap-6 flex-col">
    <img 
    class="rounded-full w-12 h-12 object-cover object-top"
    src="/profile_picture.jpg" 
    alt="Adrian Rocafull profile picture">

    <h1 class="text-white text-5xl font-bold relative w-fit tracking-wide">
        Hey, I'm Adrian 
        <a href="https://www.linkedin.com/in/adri%C3%A1n-rocafull-448a1216a/" target="_blank" rel="noopener">
            <Badge>Available for hire</Badge>
        </a>
    </h1>
    <h2 class="text-2xl opacity-80 text-wrap">
        
        2 years of experience. 
        <span class="text-yellow-200/90">Full Stack Web Developer.</span>
        <br>
        From Valencia, Spain ☀️. 
        Specialiced in creating unique and sustainable solutions. 
    </h2>
    <ul>
        <li></li>
    </ul>
</section>