---
import Code from "src/icons/Code2.astro";
---
<header id="mainProjects" class="flex content-start items-end gap-2 mb-8">
    <Code></Code>
   <h1 class="text-2xl font-bold">Main projects</h1>
</header>