---
import Code from "src/icons/Code2.astro";
import GitHub from "../icons/GitHub.astro"
import Tailwind from "../icons/Tailwind.astro"
import JavaScript from "src/icons/JavaScript.astro";
import TypeScript from "src/icons/TypeScript.astro"
import CSS from "src/icons/CSS.astro"
import AstroIcon from "src/icons/AstroIcon.astro";
import Zustand from "src/icons/Zustand.astro"
import MainProjectItem from "./MainProjectItem.astro";
import React from "src/icons/React.astro";

const TAGS = {
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JS: {
    name: "JavaScript",
    class: "bg-[#f0db4f66] text-white",
    icon: JavaScript,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#30a9dc66] text-white",
    icon: CSS,
  },
  TS: {
    name: "TypeScript",
    class: "bg-[#3178c64d] text-white",
    icon: TypeScript,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#FFFFFF66] text-white",
    icon: AstroIcon,
  },
  REACT: {
    name: "React",
    class: "bg-[#00D8FF66] text-white",
    icon: React,
  },
  ZUSTAND: {
    name: "Zustand",
    class: "bg-[#70625766] text-white",
    icon: Zustand,
  },
}
const PROJECTS = [
  {
    title: "Javascript Quiz - A beautiful quiz about javascript",
    description:
      `Javascript quiz developed with react, typescript and zustand as state manager for the application. It allows you to customize the quiz and download a dinamycally generated image with the result of the test.`,
    link: "https://svgl.vercel.app/",
    github: "https://github.com/adriroca20/JavascriptQuizz",
    tags: [TAGS.TS, TAGS.JS, TAGS.CSS, TAGS.ASTRO, TAGS.REACT, TAGS.ZUSTAND],
    images: ["src/media/JSQuiz1.webp", "src/media/JSQuiz2.webp", "src/media/JSQuiz3.webp"]
  },
  {
    title: "Tailwind CSS Animations - +70 CSS animations added to Tailwind CSS classes",
    description:
      "Plugin and website for tailwind CSS animations. Created more than 70 animations, tested with vitest and published in NPM. Then, I built a website to easily show and copy with one click all the classes added in this plugin.",
    link: "https://adventjs.dev",
    tags: [TAGS.TAILWIND],
    images: ["src/media/TailwindAnimations1.webp", "src/media/TailwindAnimations2.webp"]
  },
  {
    title: "Envoy2 & Tracker - +70 CSS animations added to Tailwind CSS classes",
    description:
      "Plugin and website for tailwind CSS animations. Created more than 70 animations, tested with vitest and published in NPM. Then, I built a website to easily show and copy with one click all the classes added in this plugin.",
    link: "https://adventjs.dev",
    tags: [TAGS.TAILWIND],
    images: ["src/media/Tracker1.webp", "src/media/Tracker2.webp", "src/media/Tracker3.webp","src/media/Tracker4.webp","src/media/Tracker5.webp"]
  },
  {
    title: "Envoy2 & Tracker - +70 CSS animations added to Tailwind CSS classes",
    description:
      "Plugin and website for tailwind CSS animations. Created more than 70 animations, tested with vitest and published in NPM. Then, I built a website to easily show and copy with one click all the classes added in this plugin.",
    link: "https://adventjs.dev",
    tags: [TAGS.TAILWIND],
    images: ["src/media/TTranscriptor1.webp", "src/media/TTranscriptor2.webp"]
  },
]
---
<header id="mainProjects" class="flex content-start items-end gap-2 mb-8">
    <Code></Code>
   <h1 class="text-2xl font-bold">Main projects</h1>
</header>

<section id="mainProjects" class="flex flex-col gap-y-16 mb-14">
  {
    PROJECTS.map((project) => (
       <MainProjectItem projectItemData={project}>
        </MainProjectItem> 
    ))
  }
</section>