---
import Angular from "../icons/Angular.astro";
import GitHub from "../icons/GitHub.astro";

---

<article class="relative aspect-[4/3] bg-[#f8f9fa]">
    <img src="" alt="">
    <div class="absolute top-0 left-0 p-1 h-full w-full bg-[#222222d0] mix-blend-multiply flex align-items-center content-start flex-col">
        <h3>Project title</h3>
        <div class="flex justify-between align-items-center">
            <div class="skill-container">
                <Angular class="h-6 w-6"></Angular>
            </div>
            <GitHub class="h-6"></GitHub>
        </div>
    </div>
</article>