---
import ExperienceItem from "./ExperienceItem.astro";
import Briefcase from "../icons/Briefcase.astro";
---

<header id="experience" class="flex content-start items-end gap-2 mb-8">
  <Briefcase />
  <h1 class="text-2xl font-bold">Work experience</h1>
</header>
<section
  id="experience"
  class="relative border-s border-gray-200 dark:border-gray-700 mb-14"
>
  <ExperienceItem
    date="May 2024 - Today"
    title="Full stack developer - React & Node.js & AWS"
    location="Flumotion"
    description=`Flumotion is the number one company in Spain for video, audio, and VOD streaming services.
Thanks to its innovative environment, I have been able to develop all kinds of applications using React.js, React Native, Node.js, and AWS services.`
  />
  <ExperienceItem
    date="April 2023 - May 2024"
    title="Full stack developer & tester - Angular & .Net & Jest & Playwright"
    location="Capgemini"
    description=`In this company I have learned and enhanced my skills as a full stack developer and tester. 
Worked for a big french energy company, developing a web application using Angular, .Net, 
Jest and Playwright as the main stack. Actively participate in the sprint reviews and presentation of the product for the client.`
  />
  <ExperienceItem
    date="September 2022 - February 2023"
    title="TFM Angular e-commerce components"
    location="Universidad Politécnica de Valencia"
    description=`Developed a new e-commerce component library for Angular,published in NPM and its 
    implementation on an e-commerce. Created more than 10 different and customizable components, including the cart, product cards, layouts and much more.`
  />
  <ExperienceItem
    date="May 2022 - July 2022"
    title="3AH Barber Studio"
    location="Freelance"
    description="Worked on the landing page for a 3AH Barber Studio website. I kept improving my skills on HTML, CSS and JS, focused on better animations and design."
  />
  <ExperienceItem
    date="January 2022 - May 2022"
    title="Sonia Elalj Psychologist website"
    location="Freelance"
    description=`First freelance website I made for profesional purposes. 
I learned how to apply all the knowledge I had in web development, such as CSS, HTML, 
Bootstrap and JS.
I also learned how to talk with the client to achieve the best possible product.`
  />
  <ExperienceItem
    date="September 2021 - March 2022"
    title=".Net developer and Tester"
    location="F1 Connecting"
    description=`Great experience working on a consultory, developing a product dessigned to handle invoices from big food companies. Contribute developing a C# proyect until the release.
Worked on manual and unit testing on the last weeks of the project.`
  />
  <ExperienceItem
    date="September 2018 - February 2023"
    title="Computer Science Degree"
    location="Universidad Politécnica de Valencia"
    description="Studied a 4 year degree on computer science and software development. Learned how to create great software, apply design patterns and solve all kinds of problems"
  />
</section>
