---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import TimeLine from '../components/TimeLine.astro';

const title = "Adrian Rocafull - Web Developer and Programmer"
const description = "Explore the innovative world of Adrian Rocafull, a two-year-experienced full-stack programmer with a laser focus on frontend technologies such as Angular, React, Astro, and Next.js. From mastering CSS for visually stunning interfaces to excelling in backend development with Django, Adrian Rocafull seamlessly integrates expertise in testing tools like NUnit, Jest, Playwright, and Gherkin. Discover a commitment to clean code, proven project success, and a collaborative approach, making Adrian Rocafull's Corner the ultimate destination for those seeking cutting-edge web development solutions."
---

<Layout title={title} description={description}>
	<main>
		<Hero></Hero>
		<TimeLine></TimeLine>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
