---
    import CameraIcon from "../icons/CameraIcon.astro"
---

<nav class="w-full p-3 flex justify-center items-center bg-white">
    <a href="#" class="border border-[#483285] rounded p-2 text-[#483285]">
        <CameraIcon></CameraIcon>
    </a>
</nav>

