---
    import CameraIcon from "../icons/CameraIcon.svelte"
---

<nav class="w-full p-2 flex justify-center items-center bg-white fixed top-0 left-0">
    <a href="#" class="border border-[#483285] rounded p-2 text-[#483285] flex gap-1 items-center content-center">
        <span class="font-medium tracking-wider">FSR</span> <CameraIcon></CameraIcon>
    </a>
</nav>

